@using SkillMapProject.Models
@model SkillMapProject.Models.Skill
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (Member)HttpContext.Current.Session[Constant.SESSION_LOGIN];
}

<h2>DANH SÁCH KĨ NĂNG</h2>

<div class="mt-5">

    <button type="button" class="btn btn-success" onclick="AddClick()">
        <i class="fas fa-plus"></i> Thêm mới
    </button>
</div>
<div class="loading middle">
    <img src="~/Resources/loading.gif" />
</div>
<div id="list_skill"></div>

<!-- Modal -->
<div class="modal fade" id="modalAddSkill" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm kĩ năng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <p id="Error"></p>
                <div class="form-group">
                    <input type="hidden" id="ID" name="ID" />
                    <label class="font-weight-bold">Tên kĩ năng</label>
                    <input type="text" id="Name" name="Name" class="form-control mt-2 col-md-12" placeholder="Nhập tên kĩ năng" required />
                    <br />
                    <p class="font-weight-bold">Thuộc phòng ban <span>@(user.Dept)</span></p>
                    <label class="font-weight-bold">Cấp độ</label>
                    <div class="row">
                        <div class="col-3">
                            Cấp độ I
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="level-1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Cấp độ II
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control mt-2" id="level-2"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Cấp độ III
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control mt-2" id="level-3"/>
                        </div>
                    </div>
                    <label class="font-weight-bold">Mô tả</label>
                    <textarea id="Detail" name="Detail" class="form-control mt-2 col-md-12" rows="4" cols="50" placeholder="Nhập mô tả"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success" onclick="AddSkill()">Lưu lại</button>
            </div>

        </div>
    </div>
</div>

<!--Modal Confirm-->
<div class="modal" tabindex="-1" role="dialog" id="alertWarning">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-exclamation-triangle text-warning"></i><span class="modal-title font-weight-bold ml-3"> CONFIRM</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa kĩ năng này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-danger" onclick="DeleteSkill()">YES</button>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/custom/skill.js"></script>
}
