.table-main {
    border: 1px solid #efe6e6;
    table-layout: fixed;
    width: 200px;
}

    .table-main th, td {
        border: 1px solid #efe6e6;
        width: 100px;
        overflow: hidden;
    }
   
.table-detail {
    table-layout: auto;
    width: 100%;
}

    .table-detail th {
        font-size: 14px;
    }
