
@model SkillMapProject.Models.Certification
<div class="">
    <p><span class="font-weight-bold">Người sửa cuối cùng: </span>@Model.Member1.Code</p>
    <p><span class="font-weight-bold">Ngày sửa cuối cùng: </span>@Model.UpdateTime.ToString("yyyy/MM/dd HH:mm")</p>
</div>
