@{
    ViewBag.Title = "Home Page";
}
<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Nhân viên</th>
            <th scope="col">Skill</th>
            <th scope="col">Phòng ban</th>
            <th scope="col">Điểm</th>
            <th scope="col">Pass/Failed</th>
            <th scope="col">Ngày hoàn thành</th>
            <th scope="col">Người chấm điểm</th>
            <th scope="col">Ngày chấm điểm</th>
            <th scope="col">Người cập nhật</th>
            <th scope="col">Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>MO</td>
            <td>MO</td>
            <td>MO</td>
            <td>MO</td>
            <td>MO</td>
            <td>MO</td>
            <td>MO</td>
            <td>MO</td>
        </tr>
    </tbody>
</table>